.DS_Store
*.tmp
*.log
*.sublime-*
*.sql

/vendor/
/wp/
/.vagrant/

.env

app/advanced-cache.php
app/backup-db/
app/backups/
app/blogs.dir/
app/cache/
app/upgrade/
app/uploads/
app/wp-cache-config.php
app/w3tc-config/
app/db.php

# set plugins you install manually to a not-ignore statement
app/plugins/*
!app/plugins/index.php
!app/plugins/advanced-custom-fields-pro
!app/plugins/wp-migrate-db-pro
!app/plugins/wp-migrate-db-pro-media-files
app/themes/*
!app/themes/index.php
!app/themes/offset
