@import "normalize.css";
@import "./wb__base.css";
@import "./wb__fonts.css";
@import "./wb__vars.css";
@import "./wb__components.css";
@import "./wb__svg.css";
@import "./wb__header.css";
@import "./wb__home.css";
@import "./wb__player.css";
@import "./wb__mission.css";
@import "./wb__specialteams.css";
@import "./wb__highlights.css";
@import "./wb__roster.css";
@import "./wb__conqueringkili.css";
@import "./wb__connect.css";
@import "./wb__thankyou.css";
@import "./wb__groups.css";
@import "./wb__footer.css";

body {
  background: #fff;
  font-family: $wb__gothic;
}

.solid-background {
  background-color: $wb__gray;
}

.wb__page-hero {
  background: url('../assets/page-hero.jpg') top center no-repeat;
  background-size: cover;
  height: 320px;
  width: 100%;
}

@import "slick-carousel/slick/slick.css";
