.roster table {
  border-collapse:collapse
}

.roster .rs___slider-flex-ctn {
  & h3 {
    padding-top: 15px;
    font-family: $wb__gothic;
    line-height: 26px;
    letter-spacing: 2px;
  }
  & a {
  width: 100%;
  }
}

.block-hold {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 600px;
  position: relative;
}

.rs___slider-flex-ctn-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 40px;
}

.rs___slider-flex-ctn {
  display: flex;
  flex-wrap: wrap;
}

.rs__slider-nameplate {
  background-image: url('../assets/roster__slider-boxes-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $wb__tan;
  flex: auto;
  padding: 20px 15px 20px 0;
  display: none;
  margin: 10px;
}

.rs__slider-overlay {
  background-color: rgba(25, 28, 31, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  cursor: -webkit-grab;
}

.slick-center .rs__slider-overlay {
  background-color: transparent;
}

.slick-center .rs__slider-nameplate,
.slick-center .rs__slider-player-minidash {
  display: block;
}

.rs__slider-nameplate h3 {
  font-size: 40px;
  color: #323639;
  line-height: 54px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
}

.rs__slider-nameplate p {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-family: $wb__gothic;
}

.rs__slider-player-minidash {
  background-image: url('../assets/roster__slider-boxes-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $wb__tan;
  flex: auto;
  margin: 10px;
  padding-top: 15px;
  display: none;
}

.rs__slider-player-minidash p {
  color: #323639;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin: 15px;
  margin-top: 0;
}

.rs__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-family: $wb__libh;
  color: $wb__red;
  letter-spacing: 4px;
  margin-bottom: 0;
}

.rs__ctn {
  max-width: 900px;
  margin: 0 auto;
  color: $wb__gray;
}

.table-ctn {
  padding: 30px 0 ;
}

.roster {
  width: 100%;
}

.roster th {
  color: $wb__red;
  background-color: #fff;
  text-decoration: underline;
  font-family: $wb__libl;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
	cursor: pointer;

}

tr:nth-child(odd) {
  background-color: $wb__blue;
}

.roster td {
  padding: 10px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.rs__honor-ctn {
  display: flex;
  flex-wrap: wrap;
}

.rs__honor-item {
  flex: 2 1 auto;
  min-width: 280px;
  margin-bottom: 25px;
}

.rs__honor-name-ctn {
  background-color: rgba(50, 54, 57, 0.95);
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.rs__honor-name-copy {
  color: #fff;
  font-family: $wb__gothic;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.rs__honor-team-copy {
  font-family: $wb__gothic;
  text-transform: uppercase;
  color: $wb__red;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.rs__honor-image-1 {
  background-image: url('../assets/roster__honor-boyer.jpg');
  background-size: cover;
  background-position: top center;
  height: 300px;
  margin: 0 15px;
}

.rs__honor-image-2 {
  background-image: url('../assets/ck__honor-blake.jpg');
  background-size: cover;
  background-position: top center;
  height: 300px;
  margin: 0 15px;
}

.rs__raised-ctn {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}

.rs__raised-ctn p {
  font-size: 28px;
}

.rs__honor-bg {
  background-image: url(../assets/roster__honor-bg.png);
  background-size: cover;
  padding: 25px 0;

  @nest .kili & {
    background-image: url(/app/uploads/2017/01/KILIFLAG_NAMES-01.png);
    background-position: center;
  }
}

.rs__honor-copy {
  padding: 20px;
}

.rs__ctn h3 {
  font-family: $wb__gothic;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-align: center;
  color: $wb__red;
  text-transform: uppercase;
}

.rs__space {
  height: auto;
  padding: 30px;
}

.rs__honor-info-ctn {
  margin: 0 15px;
}

.slick-next {
  right: 0;
  top: 300px;
  z-index: 0;
  width: auto;
}

.slick-prev {
  left: 0;
  top: 300px;
  z-index: 1;
  width: auto;
}

.slick-prev::before {
  content: url(../assets/rs__slider-arrow-left.png);
	position: absolute;
	z-index: 100;
	left: 20px;
}

.slick-next::before {
  content: url(../assets/rs__slider-arrow-right.png);
  margin-right: 20px;
	position: absolute;
	z-index: 100;
	right: 20px;
}

@media screen and (max-width: 768px) {
  .block-hold {
    height: 100vh;
  }
}

.wb__copy {
  font-size: 20px;
  font-family: $wb__gothic;
  padding: 10px;
}

.table-ctn td a {
    text-decoration: underline;
}

.dash__item-title {
  font-family: $wb__libl;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  color: $wb__red;
  display: block;
}
