.terms p:first-of-type {
  text-transform: uppercase;
}

.wb__page-legal {
  color: $wb__lblue;
}

.photo-credits p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.photo-credits .wb__page-legal li {
  list-style-type: none;
  text-align: center;
}

.photo-credits .wb__page-legal ul {
  padding: 0;
}

.photo-credits .wb__page-legal {
  text-align: center;
}

.legal__hero-bg {
  background: url('../assets/header__legal.jpg') top center no-repeat;
}

.terms .st__bar-ctn p {
  text-transform: none;
}

.legal__subhead{
  font-size: 16px;
  line-height: 26px;
  font-family:$wb__libh;
  color: $wb__red;
}
