.ck__hero-bg {
  background: url('../assets/header__conqueringkili.jpg') top center no-repeat;
}

.ck__pad {
  padding: 30px;
}

.ck__honor-blake {
  background-image: url('../assets/ck__honor-blake.jpg');
}

.ck__body-copy {
  padding: 35px 20px;
}

.conquering-kili .rs__ctn ck__body-copy{
  & p {
    color: $wb__gray;
  }
}

.cq__white {
  color: #fff;
}
