.terms p:first-of-type {
  text-transform: uppercase;
}

.wb__page-legal {
  color: $wb__lblue;
}

.photo-credits .wb__page-legal li {
  list-style-type: none;
  text-align: center;
}

.photo-credits .wb__page-legal ul {
  padding: 0;
}

.photo-credits .wb__page-legal {
  text-align: center;
}

.legal__hero-bg {
  background: url('../assets/header__legal.jpg') top center no-repeat;
}

.terms .st__bar-ctn p {
  text-transform: none;
}
