.site__header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.wb__header__nav {
  display: none;
}

.wb__header-logo {
  max-width: 260px;
}

.site__header__content {
  width: 100%;
}

.site__header__content img {
  padding: 25px;
}

.wb__header-button {
  padding: 8px 40px;
  text-transform: uppercase;
  color: #fff;
  position: inline-block;
  margin-bottom: 10px;
  position: relative;
  top: -33px;

}

.wb__header__right {
  height: 100%;
  float: right;
}

.wb__header__hamburger {}


/* MEDIA QUERIES */
@media screen and $mobile {
  .wb__header-logo {
    width: 49%;
  }
  .wb__header-button {
    padding: 5px 20px;
    top: -30px;
    right: -10px;
  }
  .wb__header__hamburger {
    width: 80px;
  }
}
