
.cn__hero-bg {
  background: url('../assets/header__connect.jpg') top center no-repeat;
}

.cn__ctn {
  display: flex;
  flex-wrap: wrap;
}

.cn__sidebar-ctn {
  background-image: url('../assets/connect__sidebar-bg.jpg');
  background-size: cover;
  flex: 1 1 auto;
  min-width: 200px;
}

.cn__sidebar-info {
  padding: 30px;
}

.cn__sidebar-info p {
  font-size: 18px;
}

.cn__social-ctn {
  height: auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

.cn__icon-flex {
  flex: 2 1 33%;
}

.cn__social-ctn h3 {
  text-align: center;
  padding: 25px;
  font-size: 24px;
  font-family: $wb__gothic;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.cn__social-icons-ctn {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.cn__social-icons-ctn a {
  display: inline-block;
  height: 100px;
  color: #5c6268;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-decoration: underline;

  &:hover {
    color:#95999d;
  }
}

.cn__social-icons-ctn svg {
  height: 65px;
  width: 65px;
  color: #5c6268;
}

.cn__form-ctn {
  flex: 3 2 auto;
  max-width: 900px;
  margin: 0 auto;
}

.ninja-forms-all-fields-wrap {
  padding: 30px;
}

.ninja-forms-all-fields-wrap textarea, input {
  border: 2px solid $wb__iron;
  resize: none;
  padding: 10px;
  font-size: 22px;
}

.connect .ninja-forms-all-fields-wrap div:nth-of-type(2),
.connect .ninja-forms-all-fields-wrap div:nth-of-type(3) {
  display: block;
}

.ninja-forms-all-fields-wrap input[type=submit],
.form-button {
  color: #fff;
  padding: 10px 60px;
  text-transform: uppercase;
  background-color: $wb__lblue;
  border: 0;
  border-radius: 5px;
}

.ninja-forms-all-fields-wrap .submit-wrap {
  text-align: center;
}

.connect label {
  line-height: 26px;
  font-size: 16px;
  color: $wb__lblue;
  font-family: $wb__libl;
}

.ninja-forms-required-items {
  padding: 15px 0;
}

.connect .ninja-forms-required-items {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.2px;
}

.connect .ninja-forms-req-symbol {
  color: $wb__red;
}

#ninja_forms_field_4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: 0.2px;
  box-shadow: inset 0 0 0 0 #95999d;
  transition: all ease 0.6s;
}

#ninja_forms_field_4:hover {
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 #95999d;
}



@media screen and $tablet {
  .cn__sidebar-ctn {
    flex: 1 1 auto;
    max-width: 400px;
    min-width: 200px;
  }
  .connect .ninja-forms-all-fields-wrap div:nth-of-type(2),
  .connect .ninja-forms-all-fields-wrap div:nth-of-type(3) {
    display: inline-block;
    width: 49.5%;
  }
  .connect #ninja_forms_field_5_div_wrap {
    padding-right: 30px;
  }
}
