.wb__button {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 12px 40px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.wb__button-blue {
  background-color: $wb__lblue;
  font-family: $wb__gothic;
  font-size: 20px;
  padding: 12px 40px;
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
}

.wb__page-dash-ctn {
  width: 100%;
  background-color: $wb__lblue;
  min-height: 150px;
}

.wb__page-dash-inner-ctn {
  display: flex;
  flex-wrap: wrap;
}

.wb__page-dash-item {
  flex: 2 1 auto;
  height: 150px;
  min-width: 200px;
}

.wb__page-dash-item h3 {
  margin: 0;
  color: #fff;
  font-family: $wb__gothic;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.wb__dash-donate {
  text-align: center;
  padding: 60px 0;
}

.wb__page-legal {
  padding: 35px 25px;
}
