.wb__home-container {
  background-image: url(../assets/wb__home-bg.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 100vh;
  position: relative;
}

.wb__home-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $wb__libh;
  color: #fff;
  width: 100%;
  padding: 0 15px;
}

.wb__home-content img {
  padding: 15px 0;
}

.wb__hero-title {
  font-size: 50px;
  font-family: $wb__libh;
  letter-spacing: 2px;
  line-height: 55px;
}

.wb__hero-subtitle {
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 50px;
  font-family: $wb__libl;
}

.wb__hero-button {
  font-family: $wb__gothic;
  text-transform: uppercase;
  padding: 8px 40px;
}

.wb__hero-missionlink {
  font-family: $wb__gothic;
  text-decoration: underline;
  margin-top: 20px;
  display: block;
}
