/* COLORS */
$wb__red: #c2001a;
$wb__gray: #323639;
$wb__blue: #f3f5f7;
$wb__lblue: #5c6268;

/* FONTS */
$wb__libh: 'liberatorheavy', sans-serif;
$wb__libl: 'liberatorlight', sans-serif;
$wb__gothic: 'pill-gothic-300mg', sans-serif;

/* BREAK POINTS */
$mobile: (max-width:480px);
$tablet: (min-width:768px);
$desktop: (min-width:980px);
$wide: (min-width:1300px);
