/* COLORS */
$wb__red: #c2001a;
$wb__gray: #323639;
$wb__blue: #f3f5f7;
$wb__lblue: #5c6268;
$wb__iron: #d6d8d9;
$wb__tan: #f1f0ee;
$wb__lgray: #95999d;

/* FONTS */
$wb__libh: 'liberatorheavy', sans-serif;
$wb__libl: 'liberatorlight', sans-serif;
$wb__gothic: 'pill-gothic-300mg', sans-serif;

/* BREAK POINTS */
$sm-mobile: (max-width:320px);
$mobile: (max-width:480px);
$tablet: (min-width:768px);
$desktop: (min-width:980px);
$wide: (min-width:1300px);
