.placehold {
  width: 100%;
  height: 500px;
  background-color: $wb__lblue;
}

.table-ctn {}

.rs__title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-family: $wb__libh;
  color: $wb__red;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
}

.rs__ctn {
  max-width: 900px;
  margin: 0 auto;
}

.roster {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: $wb__blue;
}

.roster td {
  padding: 10px;
  width: 150px;
  text-align: center;
}

.rs__honor-ctn {
  display: flex;
  flex-wrap: wrap;
}

.rs__honor-item {
  flex: 1 1 45%;
}

.rs__honor-name-ctn {
  background-color: rgba(50, 54, 57, 0.95);
  text-align: center;
  padding: 5px 0;
  width: 100%;
  position: absolute;
  bottom: -120px;
}

.rs__honor-name-copy {
  color: #fff;
  font-family: $wb__gothic;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.rs__honor-team-copy {
  font-family: $wb__gothic;
  text-transform: uppercase;
  color: $wb__red;
  font-size: 22px;
}

.rs__honor-image-1 {
  background-image: url('../assets/roster__honor-boyer.jpg');
  background-size: cover;
  background-position: top center;
  height: 300px;
  margin: 0 15px;
  position: relative;
  margin-bottom: 300px;
}

.rs__honor-image-2 {
  background-image: url('../assets/roster__honor-molina.jpg');
  background-size: cover;
  background-position: top center;
  height: 300px;
  margin: 0 15px;
  position: relative;
}

.rs__raised-ctn {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  position: absolute;
  bottom: -285px;
  width: 100%;

}

.rs__raised-ctn p {
  font-size: 28px;
}

.rs__honor-bg {
  background-image: url(../assets/roster__honor-bg.png);
  background-size: cover;
  padding: 25px 0;
}

.rs__honor-copy {
  padding: 20px;
}

.rs__ctn h3 {
  text-align: center;
  color: $wb__red;
}


.rs__space {
  height: auto;
  padding: 30px;
}
