/* COLORS */
$wb__red: #c2001a;
$wb__gray: #323639;
$wb__blue: #f3f5f7;

/* FONTS */
$wb__lib: 'liberator', sans-serif;
$wb__gothic: 'pill-gothic-300mg', sans-serif;

/* FONT SIZES */
$wb__head: 5.85em;
$wb__subhead: 2.17em;
