.site__header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.wb__header-logo {
  max-width: 260px;
}

.site__header__content {
  width: 100%;
  position: absolute;
}

.wb__header__hamburger {
  z-index: 10;
  position: relative;
}

.site__header__content img {
  padding: 25px;
}

.wb__header-button {
  padding: 8px 40px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  top: -33px;

}

.wb__header__right {
  height: 100%;
  float: right;
}

.wb__header__nav {
  display: none;
  position: relative;
  z-index: 5;
}

.wb__header__nav.active {
  display: block;
}

.wb__nav__ctn {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 10;
}

.wb__nav__ctn-item {
  height: 20%;
  text-align: center;
  transition: all 0.5s ease-in-out;
  border-bottom: 3px solid #fff;
}

.wb__nav__ctn-item:nth-child(5n) {
  border-bottom: 0;
}

.wb__nav__ctn-item.active {
  height: 26%;
}

.wb__nav__ctn-item.compress {
  height: 18.5%;
}


.wb__nav__ctn-item a {
  font-family: $wb__libh;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 3px;
  color: #fff;
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  padding: 35px 0;
}

.wb__nav__ctn-item a:hover {
  text-decoration: none;
}

.nav-item-ourmission {
  background: url('../assets/wb__nav-bg-ourmission.jpg');
  background-position: center center;
  background-size: cover;
  background-color: $wb__gray;
}

.nav-item-donate {
  background: url('../assets/wb__nav-bg-donate.jpg');
  background-position: center center;
  background-size: cover;
  background-color: $wb__gray;
}

.nav-item-initiatives {
  background: url('../assets/wb__nav-bg-initiatives.jpg');
  background-position: center center;
  background-size: cover;
  background-color: $wb__gray;
}

.nav-item-waterboys {
  background: url('../assets/wb__nav-bg-waterboys.jpg');
  background-position: center center;
  background-size: cover;
  background-color: $wb__gray;
}

.nav-item-social {
  background: url('../assets/wb__nav-bg-social.jpg');
  background-position: center center;
  background-size: cover;
  background-color: $wb__gray;
}

.wb__nav-overflow {
  overflow: hidden;
}

.wb__footer__social .icon {
  height: 1.6em;
  width: auto;
  max-width: 1.6em;
  position: relative;
  bottom: -4px;
}

/* MEDIA QUERIES */
@media screen and $mobile {
  .wb__header-logo {
    width: 48%;
  }
  .wb__header-button {
    padding: 5px 15px;
    top: -30px;
    right: -10px;
    font-size: 15px;
  }
  .wb__header__hamburger {
    width: 75px;
  }
  .wb__nav__ctn-item a {
    font-size: 39px;
  }
}

.menu-icon-svg {
  height: 2.0em;
  fill:#fff;
  width: 80px;
  cursor: pointer;
}

.wb__header__right {
  padding: 25px 0 0 0;
}

.wb__header-button {
  right: 0;
  top: -10px;
}
