.wb__player-viewall {
  display: block;
  width: 100%;
  height: 100px;
  background-color: $wb__lblue;
  padding-top: 25px;
  margin-top: -5px;

}

.wb__player-viewall a {
  display: block;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
}

.wb__player-container {
  display: flex;
  margin-top: -5px;
  flex-wrap: wrap;
  height: auto;
}

.wb__player__content-career {
  max-width: 80%;
  margin: 0 auto;
}

.wb__player-content {
  padding: 25px;
  color: $wb__gray;
  font-weight: 300;

}

.wb__content {
  flex: 65%;
  width: 500px;
}

.wb__content-info {
  flex: 35%;
  min-width: 250px;
}

.wb__player__content__header-image {
  width: 100%;
}

.wb__player__content__title {
  text-transform: uppercase;
  color: $wb__red;
  letter-spacing: 1px;
  padding-bottom: -10px;
  font-family: $wb__libl;
  font-size: 13px;
  opacity: 0.55;
}

.wb__player__content__body {
  line-height: 20px;
}

.wb__player__content__info-position {
  margin-bottom: -12px;
}

.wb__player__content__info-college {
  margin-bottom: -12px;
}

.wb__player__content__info-careerhighlights {
  margin-bottom: -12px;
}

.wb__player__career-ul {
  padding-left: 20px;
}

.wb__player__career-ul li {
  padding: 2px 0;
}

/* MEDIA QUERIES */
@media screen and $mobile {
  .wb__player__content-career {
    max-width: 100%;
  }

  .wb__content-info {}
}
