.gp__profile-image {
  background-color: #fff;
  border-radius: 100px;
  border: 3px solid #fff;
  height: 120px;
  display: inline-block;
  text-align: center;
  position: relative;
  max-width: 120px;
}

.gp__page-hero {}

.gp__page-hero-inner-ctn {
  /*max-width: 450px;*/
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 35%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  padding: 0 20px;

}

.gp__page-hero-inner-ctn h2 {
  margin-bottom: 0;
}

.single-group .wb__content-info {
  margin-bottom: -5px;
}

.gp__page-dash-ctn {
  width: 100%;
  background-color: rgba(50, 54, 57, 0.8);
}

.wb__fund-goal {
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-top: 0;
}

.gp__flex-group-title {
  flex: 1 1 auto;
  border: 1px solid red;
  align-self: flex-end;
  min-width: 200px;
}

.gp__flex-group-title {
  flex: 2 1 auto;
  border: 1px solid red;
  min-width: 200px;
}
