.wb__player-name-ctn {
  position: relative;
  top: 40%;
}

.wb__player-name {
  font-size: 55px;
  margin-bottom: 23px;
  letter-spacing: 5px;
  margin-top: 0;
}

.wb__player-team {
  padding-top: 5px;
  font-family: $wb__gothic;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.wb__player__header {
  text-align: center;
  font-family: $wb__libh;
  color: #fff;
  height: 600px;
  width: 100%;
  position: relative;
}

.wb__player-viewall {
  display: block;
  width: 100%;
  height: 100px;
  background-color: $wb__lblue;
  padding-top: 25px;
  margin-top: -5px;

}

.wb__player-viewall a {
  display: block;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
}

.wb__player-container {
  display: flex;
  margin-top: -4px;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 5px;
  margin-top: 0;
}

.wb__content-bio {
  flex: 3 2 60%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  min-width: 330px;
}

.wb__content-info {
  flex: 2 1 auto;
  min-width: 330px;
  background-color: #f0f0ef;
  font-weight: 700;
}

.wb__player-content {
  padding: 25px;
  color: $wb__gray;
}

.wb__player__content__header-image {
  width: 100%;
}

.wb__player__content__title {
  text-transform: uppercase;
  color: $wb__red;
  letter-spacing: 1px;
  padding-bottom: -10px;
  font-family: $wb__libl;
  font-size: 13px;
  opacity: 0.55;
}

.wb__player__info-title {
  margin-bottom: -12px;
}

.wb__player__career-ul {
  padding-left: 20px;
}

.wb__player__career-ul li {
  padding: 2px 0;
}

/* MEDIA QUERIES */
@media screen and $tablet {
  .wb__content-bio {
    flex: 3 2 55%;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
  }

  .wb__content-info {
    flex: 1 1 20%;
    min-width: 335px;
    background-color: #f0f0ef;
    font-weight: 700;
  }

  .wb__player__content-career {
    max-width: 900px;
    margin: 0 auto;
  }
}

.single-player .wb__header-button {
  display: none;
}

#printTotal{
  position: absolute;
  z-index: -1000;
  color: #fff;
}

#fundTotal {
    position: absolute;
    z-index: -1000;
    color: #fff;
}

.roster .rs___slider-flex-ctn {
  & h3 {
    padding-top: 15px;
  }
  & a {
  width: 100%;
  }
}
