#home__video-bg{
  display: none;
}

.wb__home-container {
  height: 100vh;
  position: relative;
  background-image: url('../assets/wb__home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  max-width: 100%;
}

.wb__home-content {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $wb__libh;
  color: #fff;
  padding: 0 10px;
  z-index: 3;
}

.wb__home-content img {
  padding: 15px 0;
}

.wb__hero-title {
  font-size: 85px;
  font-family: $wb__libh;
  letter-spacing: 2px;
  line-height: 85px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.wb__hero-subtitle {
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 25px;
  font-family: $wb__gothic;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

}

.wb__hero-button {
  font-family: $wb__gothic;
  text-transform: uppercase;
  padding: 8px 40px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.wb__hero-missionlink {
  font-family: $wb__gothic;
  text-decoration: underline;
  margin-top: 20px;
  display: block;
  letter-spacing: 0.2px;
  font-weight: normal;
  font-size: 16px;
}

@media screen and $sm-mobile {
  .wb__hero-title {
    font-size: 32px;
    line-height: 35px;
  }
  .wb__hero-subtitle {
    font-size: 16px;
    line-height: 21px;
  }
  .wb__home-content img {
    padding: 0;
    width: 100px;
  }
}

@media screen and $mobile {
  .wb__hero-title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and $tablet {
  #home__video-bg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
  }
}
