.dn__ctn {
  max-width: 900px;
  margin: 0 auto;
}

.dn__flex-ctn {
  display: flex;
  flex-wrap: wrap;
}

.dn__now-ctn {
  max-width: 700px;
  margin: 0 auto;
  flex: 3 1 30%;
  padding: 25px;
  padding-bottom: 60px;
}

.dn__now-copy-ctn p {
  font-size: 18px;
}

.copy-highlight {
  font-size: 20px;
  font-weight: bold;
}

.donate .cn__sidebar-info {
  flex: 1 1 25%;
}

.cn__sidebar-info p {
  color: $wb__lblue;
}

.dn__select-ctn {
  text-align: center;
}

.dn__select-ctn h3 {
  padding: 25px 0;
  font-size: 20px;
}

.dn__select-amount-ctn {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.dn__select-amount-btn {
  border: 2px solid $wb__gray;
  padding: 10px 0;
  border-radius: 4px;
  min-width: 150px;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 15px;
  flex: 1 1 25%;
  margin-right: 10px;
  align-self: center;
  max-height: 60px;
}

.dn__select-amount-btn:focus {
  border-color: $wb__red;
}

.dn__select-amount-ctn p {
  flex: 2 1 30%;
  color: $wb__lblue;
}

.dn__select-amount-ctn input {
  width: 100%;
}

.dn__select-amount-ctn label {
  color: $wb__lblue;
  font-family: $wb__libl;
  font-weight: bold;
  float: left;
  padding: 20px 0 10px;
}

#ninja_forms_field_15_div_wrap {
  background-image: url('../assets/donate__choose-team-bg.png');
  height: 200px;
  background-size: cover;
  width: 100%;
  padding: 45px 20px;
  text-align: center;
  margin-top: -50px;
  font-size: 20px;
  line-height: 22px;
}

.donate .field-wrap {
  max-width: 900px;
  margin: 15px auto;
}

.donate .ninja-forms-all-fields-wrap {
  padding: 0;
  padding-bottom: 25px;
}

#ninja_forms_field_14_div_wrap select {
  border: 2px solid $wb__iron;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: -110px;
  text-align: center;
}

.donate select {
  border: 2px solid $wb__iron;
  height: 50px !important;
}

.credit_card-wrap {
  padding: 0 30px;
}

.donate .ninja-forms-credit-card-cvc {
  display: block;
  width: 100%;
}

.donate .ninja-forms-credit-card-number {
  display: block;
  width: 100%;
}

#ninja_forms_field_14_div_wrap {
  text-align: center;
}

#ninja_forms_field_20_div_wrap,
#ninja_forms_field_21_div_wrap,
#ninja_forms_field_22_div_wrap,
#ninja_forms_field_23_div_wrap,
#ninja_forms_field_24_div_wrap,
#ninja_forms_field_25_div_wrap,
#ninja_forms_field_26_div_wrap,
#ninja_forms_field_27_div_wrap {
  padding: 0 30px;
  text-align: left;
}

#ninja_forms_field_19_div_wrap div:not(.label-above) {
  display: none;
}

.donate .ninja-forms-required-items {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 241px;
  padding-left: 30px;
  padding-top: 0;
}

#ninja_forms_field_25 {
  width: 100%;
}

@media screen and $tablet {
  .donate .ninja-forms-credit-card-cvc {
    display: inline-block;
    width: 25%;
  }

  .donate .ninja-forms-credit-card-number {
    display: inline-block;
    width: 74.5%;
  }
}
