.ms__hero-bg {
  background: url('../assets/header__ourmission.jpg') top center no-repeat;
}

.mission-flex-ctn {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5%;
}

.mission-flex-child {
  flex: 2 1 50%;
}

.mission-ctn {
  max-width: 1050px;
  margin: 0 auto;
}

.wb__red-sm-title {
  color: $wb__red;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: $wb__libl;
  text-transform: uppercase;
  margin: 0 auto;
}

.
.wb__page-hero {
  background: url('../assets/page-hero.jpg') top center no-repeat;
  background-size: cover;
  height: 320px;
  width: 100%;
}

.mission__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-family: $wb__libh;
  color: #fff;
  margin-top: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
}

.mission__title-wave {
  width: 100px;
  height: auto;
}

.wb__mission-hero-copy {}
.wb__mission-meter-ctn {}

.wb__mission-meter {
  height: 120px;
}

.wb__mission-meter-ctn img {
  text-align: center;
  height: 120px;
  width: auto;
  margin: 0 auto;
}

.mission__meter-title {
  text-align: center;
  padding-top: 20px;
}

.reasons__description-title {
  text-align: left;
  display: inline-block;
  padding-bottom: 5px;
}

.reasons-flex-child {
  flex: 2 1 350px;
  padding: 10px 10px 35px;

}

.mission-reason p {
  display: inline-block;
  width: 250px;
}

.wb__mission-video-ctn {
  padding: 35px 10%;
  width: 100%;
  background-image: url('../assets/mission__video-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.wb__dig-deep-ctn {}
.wb__dig-deep-title {
  padding: 25px 0 15px 0;
  font-size: 20px;
}
.wb__dig-deep-copy {}
.wb__affilates-ctn {}

.affilates-img-ctn {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.affilates-title {
  padding: 25px 0 15px;
  font-size: 20px;
}

.wb__affilates-ctn img {
  padding: 15px 20px;
  height: auto;
  width: 220px;
}

.wb__mission-socialbar-ctn {
  background-color: $wb__gray;
  height: auto;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  margin: 0 auto;
}

.socialbar-copy {
  display: inline-block;
  padding-bottom: 10px;
}

.socialbar-button {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.socialbar-buttons-ctn {
  height: auto;
  display: inline-block;
  min-width: 250px;
}

.socialbar-button svg {
  position: relative;
  bottom: -2px;
  margin-right: 5px;
}


.mission-inner-flex-ctn {
  display: flex;
  flex-wrap: wrap;
}

.mission-flex-image {
  flex: 1 1 30%;
  text-align: center;
  align-self: center;
}

.mission-flex-image img {
  max-width: 65%;
  height: auto;
}

.mission-flex-para {
  flex: 1 1 50%;
}

.mission .wb__progressgoal-ctn {
      margin: 30px 50px 15px 50px;
}


@media screen and $tablet {
  .socialbar-copy {
    padding-bottom: 0;
    padding-right: 25px;
  }
  .wb__mission-socialbar-ctn {
    padding: 25px 40px;
    height: 100px;
  }
  .mission-flex-ctn {
    padding: 15px 10%;
  }
  .mission-flex-image {
    flex: auto;
  }

  .mission-flex-para {
    flex: 1 1 50%;
  }
}

@media screen and $mobile {
  .socialbar-button {
    display: inline-block;
  }
  .socialbar-buttons-ctn a:first-of-type {
    margin-right: 10px;
  }
}

.mission {
  & .dash__goal {
    color: #323639;
  }
}

.socialbar-copy {
  color: #fff;
}

.mission__ctn {
  & p {
    color: $wb__gray;
  }
}
